.PlayPause
  width 100%
  height 30px
  display flex
  justify-content space-between
  button
    width 25px
    height inherit
    border none
    background transparent
    outline 0
    box-sizing none
    font-size 30px
    cursor pointer
    padding 0 0 5px 0
