alto = 320px

.modalContainer
  background linear-gradient(to right, #ff0d0f, #fe6196)
  margin 0 0 0 20%
  position fixed
  width 80%
  height alto
  box-shadow 0 0 10px rgba(0,0,0,.4)
  padding 10px 0 0 10px
  h2
    font-size 20px
    margin-top 15px
  h3
    font-size 17px
    margin-bottom 20px
  h2, h3
    color white
    font-weight normal
    font-family "Helvetica Neue", Helvetica, Arial, sans-serif

.modal-close
  top 100%
  transition all .8s

.modal-open
  top "calc(100% - %s)" % alto
  transition all 1s

