.search-container{
	margin: 15px 0 15px 15px;
	/*max-width: 45%;*/
	width: calc(100% - 15px);
}
.search-input:focus{
	outline:  none;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
}
.search-input {
	width: 45%;
	background: #f2f2f2;
	padding: 10px;
	margin: 0;
	font-size: 15px;
	font-family: Arial,sans-serif;
	border-radius: 10px;
	border:none;
	outline: 0;
	transition: .2s;
	box-shadow: 2px 2px 5px rgba(0,0,0,.2);
}
